name: Main
on:
  push:
    branches: [main]
  pull_request: {}

permissions:
  contents: read

jobs:
  required-meta:
    permissions:
      contents: read
      checks: write
      pull-requests: write
    uses: BlindfoldedSurgery/actions-meta/.github/workflows/required.yml@v2

  check-format:
    name: Check Format
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Check lib formatting
        run: dart format lib --set-exit-if-changed --output=none

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Configure pub dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ runner.temp }}/flutter/pub-cache
            .dart_tool
          key: flutter-pub-cache-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/pubspec.lock') }}
      - name: Configure pub cache location
        env:
          PUB_CACHE: ${{ runner.temp }}/flutter/pub-cache
        run: |
          echo "PUB_CACHE=${PUB_CACHE}" >> "$GITHUB_ENV"
      - name: Get dependencies
        run: flutter pub get
      - name: Code generation
        run: dart run build_runner build
      - name: Run Analysis
        run: flutter analyze --fatal-infos

  build:
    name: Build Web Package
    runs-on: ubuntu-24.04
    needs: [check-format, lint]
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
        with:
          lfs: true
      - uses: jdx/mise-action@v3
      - name: Configure pub dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ runner.temp }}/flutter/pub-cache
            .dart_tool
          key: flutter-pub-cache-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('**/pubspec.lock') }}
      - name: Configure pub cache location
        env:
          PUB_CACHE: ${{ runner.temp }}/flutter/pub-cache
        run: |
          echo "PUB_CACHE=${PUB_CACHE}" >> "$GITHUB_ENV"
      - name: Get dependencies
        run: flutter pub get
      - name: Code generation
        run: dart run build_runner build
      - name: Build web package
        run: flutter build web --wasm
      - name: Store build result
        uses: actions/upload-artifact@v5
        with:
          name: web-app
          path: build/web

  deploy:
    runs-on: ubuntu-24.04
    if: github.ref_name == github.event.repository.default_branch
    needs: build
    concurrency: production
    container: rclone/rclone:1.72
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: web-app
      - name: Save rclone config
        env:
          CONFIG: |
            [r2]
            type = s3
            provider = Cloudflare
            access_key_id = ${{ secrets.AWS_ACCESS_KEY_ID }}
            secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            endpoint = ${{ secrets.S3_ENDPOINT }}
        run: |
          mkdir -p /config/rclone
          echo "$CONFIG" > /config/rclone/rclone.conf
      - name: Copy web package to bucket
        run: rclone sync "$PWD" r2:${{ secrets.S3_BUCKET_NAME }}/
